.resultListContainer {
  height: 1050px;
  overflow: auto;
}

.resultsGrid {
  display: grid;
  gap: var(--h-spacing-md-rem);
  padding: var(--h-spacing-md-rem);
  grid-template-columns: repeat(3, 1fr);
}

.card,
.noItemsCard {
  display: flex;
  align-items: center;
  gap: var(--h-spacing-lg-rem);
  padding: var(--h-spacing-lg-rem);
  box-shadow: var(--h-box-shadow);
  background: var(--h-colors-background-default);
  border-radius: var(--h-radius-md);
}

.justifyCenter {
  justify-content: center;
}

.noItemsCard {
  min-height: 200px;
  text-align: center;
  justify-content: center;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.avatar {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  margin: 0;
  max-width: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--h-colors-text-primary);
  font-size: var(--h-font-lg);
}

.location {
  color: var(--h-colors-text-secondary);
  font-size: var(--h-font-base);
}

.profileLink {
  margin-top: 10px;
}

.endMessage {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .resultsGrid {
    padding: var(--h-spacing-md-rem);
  }
}

@media (max-width: 768px) {
  .resultsGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    gap: 12px;
    padding: 12px;
    flex-direction: column;
  }

  .profileLink {
    margin-top: 0;
  }
}

@media (max-width: 390px) {
  .resultsGrid {
    grid-template-columns: 1fr;
  }
}
