.HHeading {
  margin: 0;
  overflow-wrap: break-word;

  font-style: normal;
  font-weight: 700;

  &.Level1 {
    font-size: var(--h-font-5xl);
    line-height: 1.75rem;
  }

  &.Level2 {
    font-size: var(--h-font-4xl);
    line-height: 1.625rem;
  }

  &.Level3 {
    font-size: var(--h-font-3xl);
    line-height: 1.5rem;
  }

  &.Level4 {
    font-size: var(--h-font-2xl);
    line-height: 1.5rem;
  }

  &.Level5 {
    font-size: var(--h-font-xl);
    line-height: 1.5rem;
  }

  &.Level6 {
    font-size: var(--h-font-sm);
    line-height: 1.5rem;
  }
}
